# ETL of secondary datasets

# "Significant Earthqueake Database"

In [2]:
import pandas as pd
import numpy as np
import json 
import csv

In [3]:

db = pd.read_csv('Datasets\Input\significant-earthquake-database (1).csv', sep=';')

db

,ID Earthquake,Flag Tsunami,Year,Month,Day,Focal Depth,EQ Primary,Mw Magnitude,Ms Magnitude,Mb Magnitude,...,Total Effects : Missing Description,Total Effects : Injuries,Total Effects : Injuries Description,Total Effects : Damages in million Dollars,Total Effects : Damage Description,Total Effects : Houses Destroyed,Total Effects : Houses Destroyed Description,Total Effects : Houses Damaged,Total Effects : Houses Damaged Description,Coordinates
0,4465,Tsunami,1968,9.0,25.0,114.0,5.7,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"15.5,-92.7"
1,4471,NaN,1969,1.0,3.0,11.0,5.6,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"37.1,57.9"
2,4493,NaN,1969,8.0,11.0,33.0,4.7,NaN,4.7,4.6,...,NaN,4.0,Few (~1 to 50 deaths),NaN,LIMITED (roughly corresponding to less than $1...,NaN,NaN,NaN,NaN,"43.2,12.4"
3,8089,NaN,1969,9.0,14.0,NaN,5.5,NaN,5.5,NaN,...,NaN,NaN,NaN,NaN,LIMITED (roughly corresponding to less than $1...,10.0,Few (~1 to 50 houses),NaN,NaN,"39.7,74.8"
4,4546,NaN,1970,9.0,26.0,8.0,6.6,NaN,6.6,NaN,...,NaN,2.0,Few (~1 to 50 deaths),0.4,LIMITED (roughly corresponding to less than $1...,104.0,Many (~101 to 1000 houses),NaN,NaN,"6.2,-77.6"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6203,10370,NaN,2018,10.0,7.0,12.0,5.9,5.9,NaN,NaN,...,NaN,580.0,Many (~101 to 1000 deaths),NaN,MODERATE (~$1 to $5 million),NaN,Many (~101 to 1000 houses),11497.0,Very Many (~1001 or more houses),"20.041,-72.975"
6204,10374,NaN,2018,11.0,14.0,9.0,5.6,5.6,NaN,NaN,...,NaN,NaN,NaN,NaN,MODERATE (~$1 to $5 million),NaN,NaN,NaN,Many (~101 to 1000 houses),"-2.916,119.435"
6205,10409,NaN,2019,5.0,6.0,127.0,7.2,7.2,NaN,NaN,...,NaN,NaN,NaN,NaN,MODERATE (~$1 to $5 million),130.0,Many (~101 to 1000 houses),NaN,NaN,"-6.977,146.44"
6206,10457,Tsunami,2019,11.0,14.0,33.0,7.1,7.1,NaN,NaN,...,NaN,3.0,Few (~1 to 50 deaths),NaN,LIMITED (roughly corresponding to less than $1...,NaN,NaN,36.0,Few (~1 to 50 houses),"1.6,126.416"
6207,10460,NaN,2019,11.0,25.0,10.0,5.0,5.0,NaN,NaN,...,NaN,4.0,Few (~1 to 50 deaths),NaN,LIMITED (roughly corresponding to less than $1...,NaN,NaN,NaN,Few (~1 to 50 houses),"22.96,106.711"

In [4]:
db.columns

Index(['ID Earthquake', 'Flag Tsunami', 'Year', 'Month', 'Day', 'Focal Depth',
       'EQ Primary', 'Mw Magnitude', 'Ms Magnitude', 'Mb Magnitude',
       'Ml Magnitude', 'MFA Magnitude', 'Unknown Magnitude', 'Intensity',
       'Country', 'State', 'Location name', 'Region code',
       'Earthquake : Deaths', 'Earthquake : Deaths Description',
       'Earthquake : Missing', 'Earthquake : Missing Description',
       'Earthquake : Injuries', 'Earthquake : Injuries Description',
       'Earthquake : Damage (in M$)', 'Earthquake : Damage Description',
       'Earthquakes : Houses destroyed',
       'Earthquakes : Houses destroyed Description',
       'Earthquakes : Houses damaged',
       'Earthquakes : Houses damaged Description', 'Total Effects : Deaths',
       'Total Effects : Deaths Description', 'Total Effects : Missing',
       'Total Effects : Missing Description', 'Total Effects : Injuries',
       'Total Effects : Injuries Description',
       'Total Effects : Damages in million Dollars',
       'Total Effects : Damage Description',
       'Total Effects : Houses Destroyed',
       'Total Effects : Houses Destroyed Description',
       'Total Effects : Houses Damaged',
       'Total Effects : Houses Damaged Description', 'Coordinates'],
      dtype='object')

In [5]:
db['Country'].values

array(['MEXICO', 'IRAN', 'ITALY', ..., 'PAPUA NEW GUINEA', 'INDONESIA',
       'CHINA'], dtype=object)

In [6]:
db = db.loc[(db['Country']=='CHILE')| (db['Country']=='USA') | (db['Country']=='JAPAN')]

In [7]:
db=db.drop(['State', 'Region code', 'Earthquake : Missing', 'Earthquake : Missing Description',
       'Earthquake : Injuries', 'Earthquake : Injuries Description', 'Total Effects : Deaths Description', 'Total Effects : Missing',
       'Total Effects : Missing Description', 'Total Effects : Injuries',
       'Total Effects : Injuries Description',
       'Total Effects : Damages in million Dollars',
       'Total Effects : Damage Description',
       'Total Effects : Houses Destroyed',
       'Total Effects : Houses Destroyed Description',
       'Total Effects : Houses Damaged',
       'Total Effects : Houses Damaged Description', 'Total Effects : Deaths'], axis=1)

In [8]:
db.columns

Index(['ID Earthquake', 'Flag Tsunami', 'Year', 'Month', 'Day', 'Focal Depth',
       'EQ Primary', 'Mw Magnitude', 'Ms Magnitude', 'Mb Magnitude',
       'Ml Magnitude', 'MFA Magnitude', 'Unknown Magnitude', 'Intensity',
       'Country', 'Location name', 'Earthquake : Deaths',
       'Earthquake : Deaths Description', 'Earthquake : Damage (in M$)',
       'Earthquake : Damage Description', 'Earthquakes : Houses destroyed',
       'Earthquakes : Houses destroyed Description',
       'Earthquakes : Houses damaged',
       'Earthquakes : Houses damaged Description', 'Coordinates'],
      dtype='object')

In [9]:
# Percentage of NaN values per column:

db.isna().sum()*100/len(db)

ID Earthquake                                  0.000000
Flag Tsunami                                  36.050517
Year                                           0.000000
Month                                          0.918485
Day                                            2.066590
Focal Depth                                   43.398393
EQ Primary                                    19.288175
Mw Magnitude                                  74.741676
Ms Magnitude                                  40.298507
Mb Magnitude                                  70.034443
Ml Magnitude                                  94.144661
MFA Magnitude                                 99.081515
Unknown Magnitude                             88.633754
Intensity                                     64.753157
Country                                        0.000000
Location name                                  0.000000
Earthquake : Deaths                           77.037887
Earthquake : Deaths Description               71.986223
Earthquake : Damage (in M$)                   86.452354
Earthquake : Damage Description               45.350172
Earthquakes : Houses destroyed                87.944891
Earthquakes : Houses destroyed Description    80.367394
Earthquakes : Houses damaged                  94.833525
Earthquakes : Houses damaged Description      90.241102
Coordinates                                    0.918485
dtype: float64

In [10]:
# Create a column with appropiate date data

db['Date']=pd.to_datetime(db[["Year", "Month", "Day"]],  errors = 'coerce')

In [11]:
# Separate the Coordinates values into Latitude and Longitude

lat = []
lon = []

for row in db['Coordinates']:
    try:
        lat.append(row.split(',')[0])
        lon.append(row.split(',')[1])
    except:
        lat.append(np.NaN)
        lon.append(np.NaN)

db['Latitude'] = lat
db['Longitude'] = lon

In [12]:
db

,ID Earthquake,Flag Tsunami,Year,Month,Day,Focal Depth,EQ Primary,Mw Magnitude,Ms Magnitude,Mb Magnitude,...,Earthquake : Damage (in M$),Earthquake : Damage Description,Earthquakes : Houses destroyed,Earthquakes : Houses destroyed Description,Earthquakes : Houses damaged,Earthquakes : Houses damaged Description,Coordinates,Date,Latitude,Longitude
6,6440,Tsunami,1972,6.0,8.0,39.0,6.6,NaN,6.6,6.2,...,NaN,NaN,NaN,NaN,NaN,NaN,"-30.5,-71.8",1972-06-08,-30.5,-71.8
13,4878,NaN,1980,5.0,25.0,7.0,6.1,NaN,6.1,6.1,...,2.0,MODERATE (~$1 to $5 million),NaN,NaN,NaN,NaN,"37.6,-118.84",1980-05-25,37.6,-118.84
15,4919,NaN,1981,4.0,26.0,6.0,6.0,NaN,6.0,5.5,...,1.5,MODERATE (~$1 to $5 million),NaN,NaN,NaN,NaN,"33.133,-115.65",1981-04-26,33.133,-115.65
24,5203,Tsunami,1989,6.0,26.0,9.0,6.1,NaN,6.1,5.8,...,NaN,MODERATE (~$1 to $5 million),105.0,Many (~101 to 1000 houses),NaN,NaN,"19.362,-155.083",1989-06-26,19.362,-155.083
33,5348,Tsunami,1993,2.0,7.0,11.0,6.3,6.3,6.2,6.3,...,NaN,LIMITED (roughly corresponding to less than $1...,NaN,NaN,NaN,NaN,"37.634,137.245",1993-02-07,37.634,137.245
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6184,7823,NaN,2008,4.0,18.0,14.0,5.3,5.3,4.8,5.1,...,NaN,LIMITED (roughly corresponding to less than $1...,NaN,NaN,NaN,Few (~1 to 50 houses),"38.452,-87.886",2008-04-18,38.452,-87.886
6185,8130,NaN,2008,5.0,7.0,39.0,6.8,6.8,6.7,6.1,...,NaN,LIMITED (roughly corresponding to less than $1...,NaN,NaN,NaN,NaN,"36.158,141.521",2008-05-07,36.158,141.521
6192,9806,NaN,2011,3.0,11.0,19.0,7.6,7.6,NaN,7.1,...,NaN,NaN,NaN,NaN,NaN,NaN,"38.058,144.59",2011-03-11,38.058,144.59
6201,10156,Tsunami,2015,9.0,16.0,22.0,8.3,8.3,NaN,NaN,...,600.0,EXTREME (~$25 million or more),2305.0,Very Many (~1001 or more houses),10044.0,Very Many (~1001 or more houses),"-31.573,-71.674",2015-09-16,-31.573,-71.674
6202,10163,Tsunami,2015,11.0,13.0,12.0,6.7,6.7,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,"31.001,128.873",2015-11-13,31.001,128.873

In [13]:
# drop columns Coordinates, Day, Month and Year

db = db.drop(['Coordinates', 'Day', 'Month', 'Year'], axis=1)

In [14]:
# Rename columns:

db.rename(columns={'ID Earthquake' : 'ID',
                   'Flag Tsunami' : 'Tsunami',
                   'EQ Primary' : 'Primary Magnitude',
                   'Location name' : 'Location',
                   'Earthquake : Deaths' : 'Deaths',
                   'Earthquake : Deaths Description' : 'Death Description',
                   'Earthquake : Damage (in M$)' : 'Damage (in M$)',
                   'Earthquake : Damage Description' : 'Damage Description',
                   'Earthquakes : Houses destroyed' : 'Houses Destroyed',
                   'Earthquakes : Houses destroyed Description' : 'Houses Destroyed Description',
                   'Earthquakes : Houses damaged' : 'Houses Damaged',
                   'Earthquakes : Houses damaged Description' : 'Houses Damaged Description'
                    }, inplace=True)

In [21]:
db.columns

Index(['ID', 'Date', 'Country', 'Location', 'Latitude', 'Longitude',
       'Focal Depth', 'Primary Magnitude', 'Mw Magnitude', 'Ms Magnitude',
       'Mb Magnitude', 'Ml Magnitude', 'MFA Magnitude', 'Unknown Magnitude',
       'Intensity', 'Deaths', 'Death Description', 'Damage (in M$)',
       'Damage Description', 'Houses Destroyed',
       'Houses Destroyed Description', 'Houses Damaged',
       'Houses Damaged Description', 'Tsunami', 'Class_Depth', 'Class_Mag'],
      dtype='object')

In [16]:
# Rearrange columns order:

db = db [['ID', 'Date', 'Country', 'Location', 'Latitude', 'Longitude', 'Focal Depth', 'Primary Magnitude',
       'Mw Magnitude', 'Ms Magnitude', 'Mb Magnitude', 'Ml Magnitude',
       'MFA Magnitude', 'Unknown Magnitude', 'Intensity', 'Deaths', 'Death Description', 'Damage (in M$)',
       'Damage Description', 'Houses Destroyed',
       'Houses Destroyed Description', 'Houses Damaged',
       'Houses Damaged Description', 'Tsunami']]

In [17]:
# Replace Tsunami values with 1 or 0:

db['Tsunami'] = db['Tsunami'].replace('Tsunami', 1)

db['Tsunami'] = db['Tsunami'].replace(np.nan, 0)

In [19]:
# Clasification of Depth and Magnitude

db['Class_Depth'] = pd.cut(
    x=db["Focal Depth"],
    bins=[0, 49, 300, np.inf],
    labels=["Shallow", "Intermediate", "Deep"],
)

db['Class_Mag'] = pd.cut(
    x=db["Primary Magnitude"],
    bins=[0, 2.9, 3.9,4.9,5.9,6.9,7.9, np.inf],
    labels=["Very Minor", "Minor", "Light","Moderate","Strong","Major","Great"],
)

In [22]:
db = db [['ID', 'Date', 'Country', 'Location', 'Latitude', 'Longitude', 'Focal Depth', 'Class_Depth', 'Primary Magnitude', 'Class_Mag',
       'Mw Magnitude', 'Ms Magnitude', 'Mb Magnitude', 'Ml Magnitude',
       'MFA Magnitude', 'Unknown Magnitude', 'Intensity', 'Deaths', 'Death Description', 'Damage (in M$)',
       'Damage Description', 'Houses Destroyed',
       'Houses Destroyed Description', 'Houses Damaged',
       'Houses Damaged Description', 'Tsunami']]

In [23]:
# Final view of finished dataset:

db

,ID,Date,Country,Location,Latitude,Longitude,Focal Depth,Class_Depth,Primary Magnitude,Class_Mag,...,Intensity,Deaths,Death Description,Damage (in M$),Damage Description,Houses Destroyed,Houses Destroyed Description,Houses Damaged,Houses Damaged Description,Tsunami
6,6440,1972-06-08,CHILE,CHILE: CENTRAL,-30.5,-71.8,39.0,Shallow,6.6,Strong,...,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
13,4878,1980-05-25,USA,CALIFORNIA: MAMMOTH LAKES,37.6,-118.84,7.0,Shallow,6.1,Strong,...,7.0,NaN,NaN,2.0,MODERATE (~$1 to $5 million),NaN,NaN,NaN,NaN,0.0
15,4919,1981-04-26,USA,"CALIFORNIA: WESTMORLAND,CALIPATRIA",33.133,-115.65,6.0,Shallow,6.0,Strong,...,7.0,NaN,NaN,1.5,MODERATE (~$1 to $5 million),NaN,NaN,NaN,NaN,0.0
24,5203,1989-06-26,USA,HAWAIIAN ISLANDS: PUNA DISTRICT,19.362,-155.083,9.0,Shallow,6.1,Strong,...,6.0,NaN,NaN,NaN,MODERATE (~$1 to $5 million),105.0,Many (~101 to 1000 houses),NaN,NaN,1.0
33,5348,1993-02-07,JAPAN,"JAPAN: HONSHU: ISHIKAWA, TOYAMA, NIIGATA",37.634,137.245,11.0,Shallow,6.3,Strong,...,NaN,NaN,NaN,NaN,LIMITED (roughly corresponding to less than $1...,NaN,NaN,NaN,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6184,7823,2008-04-18,USA,ILLINOIS: WEST SALEM,38.452,-87.886,14.0,Shallow,5.3,Moderate,...,NaN,NaN,NaN,NaN,LIMITED (roughly corresponding to less than $1...,NaN,NaN,NaN,Few (~1 to 50 houses),0.0
6185,8130,2008-05-07,JAPAN,JAPAN: HONSHU: E COAST,36.158,141.521,39.0,Shallow,6.8,Strong,...,NaN,NaN,NaN,NaN,LIMITED (roughly corresponding to less than $1...,NaN,NaN,NaN,NaN,0.0
6192,9806,2011-03-11,JAPAN,JAPAN: OFF EAST COAST HONSHU,38.058,144.59,19.0,Shallow,7.6,Major,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
6201,10156,2015-09-16,CHILE,CHILE: CENTRAL,-31.573,-71.674,22.0,Shallow,8.3,Great,...,9.0,7.0,Few (~1 to 50 deaths),600.0,EXTREME (~$25 million or more),2305.0,Very Many (~1001 or more houses),10044.0,Very Many (~1001 or more houses),1.0
6202,10163,2015-11-13,JAPAN,JAPAN: KYUSYU ISLAND,31.001,128.873,12.0,Shallow,6.7,Strong,...,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0

In [179]:
db.to_csv ('Datasets\Output\Significant-Earthquake-Database.csv')